
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vh;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: #000;
}

#watch {
    display: flex;   
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid #00ffff;
    color: #00ffff;
    border-radius: 50%;
    font-family: monospace;
    font-size: 1.7rem;
}